html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.quote-box {
  max-width: 600px;
}

.title-box {
  padding-left: 42px;
  display: flex;
  align-items: flex-end;
}

.avatar {
  margin-right: 5px;
}

.title {
  margin-bottom: 0;
  font-size: 18px;
}

.blockquote {
  position: relative;
  margin-top: 5px;
  border-top: 1px dotted #d7d8d3;
  border-bottom: 1px dotted #d7d8d3;
  padding: 20px 35px;
}
.blockquote::before,
.blockquote::after {
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
}
.blockquote::before {
  content: '“';
  top: 15px;
  left: 2px;
}
.blockquote::after {
  content: '”';
  right: 2px;
  bottom: -15px;
}

.blockquote-text {
  color: #121213;
  font-size: 20px;
  min-width: 450px;
  min-height: 56px;
}

.next-btn,
.next-btn svg {
  width: 48px;
  height: 48px;
}
.next-btn {
  cursor: pointer;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  border: none;
  background-color: transparent;
}

.next-btn svg path {
  transition: fill 0.25s ease;
}
.next-btn:hover svg path {
  fill: olive;
}

.footer {
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
